* {
    box-sizing: border-box;
}

html {
    font-family: 'poppins', sans-serif;
}
body {
    margin: auto;
    padding: 0;
    width: auto;
    height: 100vh;
    text-align: center;
    background-image: url("./images/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: rgb(240, 239, 239);
    text-shadow: 2px 2px gray;
}

img {
    width: 8vw;
    height: auto;
    cursor: pointer;
    margin: 25px;
    filter:drop-shadow(3px 5px 2px rgb(85, 88, 104));
}
#scores {
    display: flex;
    align-content: center;
    justify-content:center;
    border: none;
}
table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
  } 
 th, td {
     padding: 5px;
 }
  
  th,td {
    border: 1px solid black;
  }

span {
    color: white;
}
@media only screen and (max-width: 800px) {
    img {
        width: 5rem;
        display: block;
        margin-left: 41%;
        
    }
}



